.editProduct{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;


    &-main{
        border: var(--bor);
        background: white;
        padding: 10px;
        border-radius: 10px;


        &-title{
            text-align: center;
            text-transform: capitalize;
            margin: 10px 0;
        }


        .forma{
            display: flex;
            flex-direction: column;
            text-transform: capitalize;


            &-label{
                display: flex;
                flex-direction: column;
                margin: 10px 0;


                &-inp{
                    padding: 5px;
                    text-transform: capitalize;
                    outline: none;
                    border: var(--bor);
                    border-radius: 10px;
                }
            }
        }
    }
}