.brandDetails{

    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        padding: 15px 0;

        

        &-left{
            font-weight: bold;
            background: white;
            padding: 6px;
            border-radius: 5px;
        }

        &-right{
            width: 40%;
            display: flex;
            align-items: center;



            a{
            margin-left: 15px;
        }
        }
    }


    &-card{
        display: flex;
        flex-direction: column;
        background: white;
        margin: 15px 0;
        padding: 10px;
        border-radius: 10px;
        text-transform: capitalize;

        &-up{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;


            small{
                margin-left: 20px;
            }
        }

        &-down{
            display: flex;
            align-items: center;
            justify-content: space-between;


            .edit{
                cursor: pointer;
                color: black;
                border: var(--bor);
                border-radius: 6px;
                padding: 10px;
            }
        }
    }
}