.createProduct{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;


    &-main{
        padding: 15px;
        border: var(--bor);
        background: white;
        border-radius: 15px;
        text-transform: capitalize;



        &-title{
            text-align: center;
            margin: 15px 0;
        }


        .forma{
            display: flex;
            flex-direction: column;


            &-label{
                margin: 10px 0;
                display: flex;
                flex-direction: column;


                &-inp{
                    padding: 6px;
                    text-transform: capitalize;
                    outline: none;
                    border: var(--bor);
                    border-radius: 8px;
                }
            }
        }
    }
}