.createBrand{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;


    &-main{
        padding: 10px;
        border: var(--bor);
        background: white;
        border-radius: 10px;

        &-title{
            text-align: center;
            text-transform: capitalize;
            margin: 10px 0;
        }

        .forma{
            text-transform: capitalize;


            &-label{
                display: flex;
                flex-direction: column;

                &-inp{
                    padding: 6px;
                    text-transform: capitalize;
                    outline: none;
                    border: var(--bor);
                    border-radius: 8px;
                }

            }


            &-btns{
                padding: 15px 0;
            }


        }
    }
}