.dailyTrade{
    text-transform: capitalize;


    &-title{
        text-align: center;
        margin: 15px 0;
    }

    &-cards{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 5px;
        background-color: white;
        padding: 15px 10px;
        border-radius: 10px;

        &-card{
            margin: 10px 0;
        }
    }
}