*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --bc: rgba(95, 158, 160, 0.488);
    --bor: 2px solid cadetblue;
}

.container{
    width: 80%;
    margin: 0 auto;
}

@media(max-width: 415px){
    .container{
    width: 95%;
    margin: 0 auto;
    border: 1px solid crimson;
}
}


.btn{
    padding: 6px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid cadetblue;
    background-color: cadetblue;
    color: white;
    cursor: pointer;


    &:hover{
        background-color: white;
        color: cadetblue;
    }
}

a.active{
    background-color: white;
    color: cadetblue;
}

