.tradeDetail{

    padding: 15px;
    text-transform: capitalize;


    &-up{


        &-title{
            text-align: center;
        }
    }

    &-down{


        &-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: white;
            margin: 15px 0;
            padding: 10px;
            border-radius: 10px;


            &-title{
                margin-left: 55px;
                padding: 10px 0;
            }

            .forma{
                width: 80%;
                display:flex;
                align-items: center;
                justify-content: space-between;


                &-label{
                    display: flex;
                    flex-direction: column;
                    margin: 0 15px;

                    &-inp{
                        padding: 6px;
                        outline: none;
                        border: var(--bor);
                        border-radius: 5px;
                    }
                }

               

                // .itogo{
                //     margin-left: 10px;

                //     &-num{
                //         margin-top: 12px;
                //     }
                // }
            }
        }
    }
}


@media(max-width: 415px){
   .tradeDetail{

    padding: 10px;
    // text-transform: capitalize;


    // &-up{


    //     &-title{
    //         text-align: center;
    //     }
    // }

    &-down{


        &-card{
            // display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: start;
            // background: white;
            // margin: 15px 0;
            // padding: 10px;
            // border-radius: 10px;


            &-title{
                margin-left: 5px;
                // padding: 10px 0;
            }

            .forma{
                width: 90%;
                // display:flex;
                // align-items: center;
                justify-content: start;


                &-label{
                    // display: flex;
                    // flex-direction: column;
                    margin: 0 5px;

                    &-inp{
                        // padding: 6px;
                        // outline: none;
                        // border: var(--bor);
                        // border-radius: 5px;
                        width: 50px;
                    }
                }

               

                // .itogo{
                //     margin-left: 10px;

                //     &-num{
                //         margin-top: 12px;
                //     }
                // }
            }
        }
    }
} 
}